/*
 *    arquivo css para o teste da think4
 *
 *    @project think4 teste
      @author thierry rene matos - webdev front end
 *
 */


/* custom styles - simple page, style codes are declared in cascade according to the elements */

body {
    font-family: helvetica;
    font-size: 10px;
    margin: 0px;
    background-color: #ffffff;
    & hr {
        border-top: solid 1px #dbdbdb;
        border-left: none;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    & a {
        text-decoration: none;
        color: #666666;
        &:hover {
            text-decoration: none;
            color: #999999;
        }
    }
    header {
        background-color: #DBDBDB;
        color: #666666;
        height: 43px;
        text-transform: uppercase;
        font-weight: bold;
        & ul {
            position: absolute;
            margin-top: 16px;
            & li {
                list-style: none;
                float: left;
                margin-right: 20px;
                padding-right: 20px;
                padding-left: 5px;
                border-right: solid 1px #bbb;
                &:last-child {
                    border: none;
                    margin-right: none;
                    padding-right: none;
                }
            }
        }
    }
    section {
        clear: both;
        & article {
            & .sub-title {
                text-transform: uppercase;
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 22px;
                text-align: center;
            }
            & .img-responsive {
                width: 100%;
                &:first-child {
                    -webkit-box-shadow: 5px 0px 115px 0px rgba(161, 161, 161, 1);
                    -moz-box-shadow: 5px 29px 115px 0px rgba(161, 161, 161, 1);
                    box-shadow: 5px 0px 115px 0px rgba(161, 161, 161, 1);
                }
            }
            & .shirt-content {
                color: #505050;
                text-align: center;
                line-height: 11px;
                text-transform: uppercase;
                padding-left: 20px;
                & .shirt-content-price {
                    color: #fa5400;
                    font-weight: bold;
                    text-transform: capitalize;
                }
                & .shirt-content-price-action {
                    font-weight: bold;
                    line-height: 30px;
                    & .shirt-content-price-action-icon {
                        color: #fa5400;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    footer {
        height: 30px;
        background-color: #444;
        padding-top: 20px;
        color: #fff;
        & .footer-col-1 {
            width: 50%;
            float: left;
        }
        & .footer-col-2 {
            width: 50%;
            float: left;
            text-align: right;
        }
    }
    & .container {
        width: 99.9%;
        max-width: 551px;
        margin: 0px auto;
        & .btn {
            text-transform: uppercase;
            padding: 15px 20px 15px 15px;
            background-image: linear-gradient(to top, #c3c3c3 0%, #f4f4f4 100%);
            box-shadow: 0 0 5px rgba(0, 1, 1, 0.15);
            color: #333;
            border-radius: 20px;
            font-weight: bold;
            margin: 40px 0px;
        }
        & .shirt-col {
            float: left;
            width: 20%;
            padding-right: 5%;
        }
        & .btn-col {
            float: left;
            width: 99%;
            margin-left: 230px;
            margin-top: 20px;
        }
        & .moreinfo-col {
            float: left;
            margin-left: 25px;
            margin-top: 45px;
            background-color: #eee;
            width: 411px;
            padding: 50px;
            font-size: 12px;
            line-height: 18px;
            & .moreinfo-text {
                margin-top: 8px;
                position: absolute;
            }
            & .text-focus-1 {
                color: #fa5400;
                font-size: 15px;
                font-weight: 700;
                margin-left: 18px;
            }
            & .text-focus-2 {
                color: #333;
                font-weight: bold;
                text-transform: capitalize;
            }
            & .text-focus-icon {
                color: #fa5400;
            }
        }
        & .twitter-col {
            width: 99%;
            margin-top: 20px;
            margin-left: 200px;
            margin-bottom: 20px;
            float: left;
            font-size: 12px;
            & .twitter-col-text {
                margin-left: 15px;
                margin-top: 6px;
                position: absolute;
            }
        }
    }
}