/*
 *    arquivo css para o teste da think4
 *
 *    @project think4 teste
 *    @author thierry rene matos - webdev front end
 *
 */


/* simple grid framework code import */

// @import "simplegrid.scss";

/* custom styles - simple page, style codes are declared in cascade according to the elements */

body {
    box-sizing: border-box;
    font-family: helvetica;
    margin: 0px;
    // & h1, h2, h3, h4, h5, h6 {
    //     text-transform: uppercase;
    //     font-weight: bold;
    // }
    & .row {
        margin: 0px;
    }
    & header {
        background-color: #DBDBDB;
        height: 70px;
        color: #666666;
        & ul {
            margin: 25px 0px 0px 70px;
            & li {
                list-style: none;
                float: left;
                padding-right: 35px;
                margin-right: 35px;
                border-right: solid 1px #333;
                text-align: center;
                font-weight: bold;
                &:last-child {
                    border: none;
                    margin-right: none;
                    padding-right: none;
                }
            }
        }
        & nav {
            text-transform: uppercase;
        }
    }
    & article {
        .sub-category {
            margin-top: 40px;
            margin-bottom: 30px;
            color: #333;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    a {
        text-decoration: none;
        color: #666666;
        &:hover {
            text-decoration: none;
        }
    }
    img {
        & .banner {
            -webkit-box-shadow: 5px 29px 115px 0px rgba(161, 161, 161, 1);
            -moz-box-shadow: 5px 29px 115px 0px rgba(161, 161, 161, 1);
            box-shadow: 5px 29px 115px 0px rgba(161, 161, 161, 1);
            width: 100%;
        }
        & .camisa_1 {
            width: 186px;
            height: 186px;
        }
        & .camisa_2 {
            width: 185px;
            height: 191px;
        }
        & .camisa_3 {
            width: 117px;
            height: 180px;
        }
        & .camisa_4 {
            width: 119px;
            height: 179px;
        }
    }
}