extends template

block append body_content
		// header with menu
		header
			nav
				.row
					.container
						.col-md-10.col-md-offset-1
							ul
								li
									a(href="#") masculino
								li
									a(href="#") feminino
								li
									a(href="#") infantil
								li
									a(href="#") lançamentos
								li
									a(href="#") ofertas
		// first section with image
		section
			article
				.row
					.container
						.col-md-10.col-md-offset-1
							a(href="#")
								img(src="img/banner.jpg" class="banner")
			article
				.row
					.container
						.col-md-10.col-md-offset-1.text-center
							h3.sub-category clubes internacionais
				article
					.row
						.container
							.col-md-3
								img(src="img/camisa_1.jpg" class="responsive-img camisa_1")
							.col-md-3
								img(src="img/camisa_2.jpg" class="responsive-img")
							.col-md-3
								img(src="img/camisa_3.jpg" class="responsive-img")
							.col-md-3
								img(src="img/camisa_4.jpg" class="responsive-img")
				
		