extends template

block append body_content
		// menu
		header
			nav.container
				ul 
					li
						a(href="#") masculino 
					li
						a(href="#") feminino
					li
						a(href="#") infantil
					li
						a(href="#") lançamentos
					li
						a(href="#") ofertas
		section
			article.container
				a(href="#")
					img(src="img/banner.jpg" class="img-responsive")
		section
			article.container
				h2.sub-title clubes internacionais
		section
			article.container
				.shirt-col
					img(src="img/shirt_1.jpg")
					.shirt-content
						p.shirt-content-title 
							| camisa fcb home	torcedor
						p.shirt-content-price
							| por: r$ 229,90 ou 10x de r$ 22,99
						p.shirt-content-price-action
							| comprar 
							span.shirt-content-price-action-icon >
				.shirt-col
					img(src="img/shirt_2.jpg")
					.shirt-content
						p.shirt-content-title 
							| camisa psg home torcedor
						p.shirt-content-price
							| por: r$ 229,90 ou 10x de r$ 22,99
						p.shirt-content-price-action
							| comprar 
							span.shirt-content-price-action-icon >
				.shirt-col
					img(src="img/shirt_3.jpg")
					.shirt-content
						p.shirt-content-title 
							| camisa manchester united home torcedor
						p.shirt-content-price
							| por: r$ 229,90 ou 10x de r$ 22,99
						p.shirt-content-price-action
							| comprar 
							span.shirt-content-price-action-icon >
				.shirt-col
					img(src="img/shirt_4.jpg" class="shirt-4")
					.shirt-content
						p.shirt-content-title 
							| camisa manchester city home torcedor
						p.shirt-content-price
							| por: r$ 229,90 ou 10x de r$ 22,99
						p.shirt-content-price-action
							| comprar 
							span.shirt-content-price-action-icon >
			article.container
				.btn-col
					a(href="#")
						span.btn veja todos
			article.container
				.moreinfo-col
					.moreinfo-first-line
						img(src="img/boleto_img.jpg")
						span.moreinfo-text #[span.text-focus-1 5% de desconto] para pagamento à vista. #[a(href="#").text-focus-2 veja detalhes #[span.text-focus-icon >]]
					hr
					.moreinfo-second-line
						img(src="img/caixa_nike_img.jpg")
						span.moreinfo-text #[span.text-focus-1 Frete grátis] para capitais e todo Sul, Sudeste e Nordeste em #[br] compras acima de R$ 99,90. #[a(href="#").text-focus-2 veja detalhes #[span.text-focus-icon >]]
			article.container
				.twitter-col
					img(src="img/twitter_icon.jpg")
					span.twitter-col-text Siga-nos no twitter: #[b @lojanike]
		footer
			article.container
				.footer-col-1
					| Termos de Uso  |  Política de Privacidade  |  Ajuda
				.footer-col-2
					| Nike do Brasil. Todos os direitos reservados. 